AuthName "internalakuntansi.klikgss.com statistics"
AuthType Basic
AuthUserFile /home/klikgss/domains/internalakuntansi.klikgss.com/.stats-htpasswd
require valid-user
<Files .stats-htpasswd>
deny from all
</Files>
